[Unit]
Description=BitterJohn service
Documentation=https://github.com/e14914c0-6759-480d-be89-66b7b7676451/BitterJohn
After=network.target nss-lookup.target
Wants=network.target nss-lookup.target

[Service]
Type=simple
{{if not .ForUser}}
User=nobody
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
{{else}}
# Note that "CapabilityBoundingSet=CAP_NET_BIND_SERVICE" is
# missing in the user unit because systemd 232 is unable to
# reduce its own capabilities ("Failed at step CAPABILITIES
# spawning /home/<username>/bin/BitterJohn: Operation not
# permitted")
{{end}}
Restart=on-failure
RestartSec=5s
LimitNOFILE=102400
Environment="GODEBUG=madvdontneed=1"
ExecStart={{.Bin}} run --log-disable-timestamp{{range .Args}} {{.}}{{end}}

[Install]
WantedBy=multi-user.target
